In [61]:
import pandas as pd
import numpy as np

In [74]:
sumokwon = pd.read_csv('sumokwon.csv',encoding='utf-8',names=['집계년도','시군명','명칭','전화번호','등록승인년도','수목원구분명','대표자명','수목원규모(ha)','보유종수','수목원소재지우편번호','수목원소재지지번주소','소재주소','위도','경도','카테고리'
                                                             ],engine='python')
sumokwon['카테고리']='수목원'
sumokwon=sumokwon.drop(0,axis=0)

natural = pd.read_csv('natural.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
natural['카테고리']= '자연'
natural=natural.drop(0,axis=0)

meongso = pd.read_csv('meongso.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
meongso['카테고리'] = '명소'
meongso = meongso.drop(0,axis=0)

munhwa = pd.read_csv('munhwa.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
munhwa['카테고리'] = '문화'
munhwa = munhwa.drop(0,axis=0)

experience = pd.read_csv('experience.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
experience['카테고리'] = '체험'
experience = experience.drop(0,axis=0)

thema = pd.read_csv('thema.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
thema['카테고리'] = '테마'
thema = thema.drop(0,axis=0)

sports = pd.read_csv('sports.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
sports['카테고리'] = '스포츠'
sports = sports.drop(0,axis=0)

#forest = pd.read_csv('forest.csv',encoding='utf-8',names=['휴양림명','시군명','휴양림구분','휴양림면적','수용인원수','입장료','숙박가능여부','주요시설명','소재주소',	관리기관명	휴양림전화번호	홈페이지주소	위도	경도	데이터기준일자engine='python')
eat = pd.read_csv('eat.csv',encoding='utf-8',names= ['시군명','명칭','전화번호','대표음식명','소재지우편번호','소재주소','소재지지번주소','위도','경도'],engine='python')
eat['카테고리'] = '맛집'
eat = eat.drop(0,axis=0)
#special = pd.read_csv('specialization.csv',encoding='utf-8',engine='python')
#tour = pd.read_csv('tour.csv',encoding='utf-8',engine='python')

In [83]:
result = pd.concat([sumokwon,natural,meongso,munhwa,experience,thema,sports,eat], axis = 0, ignore_index=True,join='inner')

result.at[0,'시군명'] = "안산시"
result.at[2,'시군명'] = '오산시'

result.to_csv('result.csv',encoding='utf-8-sig',index=False)
result

,시군명,명칭,전화번호,소재주소,위도,경도,카테고리
0,안산시,바다향기수목원,031-8008-6972,경기도 안산시 단원구 대부황금로 399,37.2236,126.642765,수목원
1,가평군,아침고요원예수목원,031-1544-6703,경기도 가평군 상면 수목원로 432,37.7439,127.352457,수목원
2,오산시,물향기수목원,031-378-1261,경기도 오산시 청학로 211,37.1661,127.059638,수목원
3,과천시,서울대공원식물원,02-500-7338,경기도 과천시 대공원광장로 102,37.426,127.023549,수목원
4,광주시,곤지암화담숲,031-8026-6666,경기도 광주시 도척면 도척윗로 278,37.3402,127.291693,수목원
...,...,...,...,...,...,...,...
2084,하남시,한채당,031-792-8880,경기도 하남시 미사동로 38,37.5707,127.201505,맛집
2085,하남시,지호 한방 삼계탕,031-795-9996,경기도 하남시 하남대로 995,37.5475,127.188532,맛집
2086,하남시,하남미소 명품한우,031-699-0002,경기도 하남시 대청로 27,37.5409,127.215140,맛집
2087,화성시,홍천덤바우록계탕,031-366-7880,경기도 화성시 남양읍 역골중앙로41번길 42,37.2063,126.827770,맛집
2088,화성시,소담뜰,031-8059-7667,경기도 화성시 향남읍 배터길 14,37.1328,126.906436,맛집

In [84]:
city ={'cityID':[int(i) for i in range(32)],
        'city':['서울시','인천시','수원시','성남시','안양시','안산시','용인시','광명시','평택시','과천시','오산시','시흥시','군포시','의왕시','하남시','이천시','안성시','김포시','화성시','여주시','부천시','양평군','고양시','의정부시','동두천시','구리시','남양주시','파주시','양주시','포천시','연천군','가평군'],
       'latitude': [37.566380,37.455791,37.263201,37.420011,37.394051,37.321478,37.240941,37.478493,36.991734,37.428589,37.149846,37.380050,37.360450,37.344718,37.539252,37.272186,37.007948,37.615152,37.197956,37.298290,37.503283,37.491682,37.658377,37.738097,37.903511,37.594252,37.635918,37.758848,37.784028,37.894864,38.096501,37.831205],
       'longitude':[126.977902,126.705401,127.028574,127.126627,126.958697,126.828954,127.177933,126.864602,127.095997,126.988849,127.077376,126.802881,126.933051,126.968299,127.214926,127.435002,127.279763,126.715633,126.828593,127.637329,126.765908,127.487557,126.833811,127.033679,127.060407,127.129522,127.215442,126.778317,127.045545,127.200344,127.071583,127.509538]}

city_data = pd.DataFrame(city)
print(city_data)
result = pd.read_csv('result.csv',names = ['city','placeName','number','address','latitude','longitude','category'],encoding='utf-8',engine='python')
result = result.drop(0,axis=0)
result = pd.merge(city_data,result,how='left',on='city')

result = result.drop(0,axis=0)
result = result.reset_index(drop=True)
result = result.drop(0,axis=0)
result = result.reset_index(drop=True)

result=result.drop(['city','latitude_x','longitude_x'],axis=1)
result = result.rename(columns = {'latitude_y' : 'latitude', 'longitude_y':'longitude'})

place_location= pd.DataFrame({'placeID':[int(i) for i in range(result['placeName'].shape[0])],'latitude':result['latitude'],'longitude' : result['longitude']})
result.insert(2,"placeID",[int(i) for i in range(result['placeName'].shape[0])],True)
result = result.drop(['longitude','latitude'],axis=1)

distinct_cateogry = np.unique(result['category'])
category = pd.DataFrame({'categoryID' : [i for i in range(len(distinct_cateogry))],'category':distinct_cateogry})

result = pd.merge(result,category,how='left',on='category')
result = result.drop('category',axis=1)

star = pd.DataFrame({'customerID':[],'palceID':[],'star':[]})


result.to_csv('./table/Place.csv',encoding='utf-8-sig',index=False)
city_data.to_csv('./table/City.csv',encoding='utf-8-sig',index=False)
place_location.to_csv('./table/PlaceLocation.csv',encoding='utf-8-sig',index=False)
category.to_csv('./table/Category.csv',encoding='utf-8-sig',index=False)
star.to_csv('./table/Star.csv',encoding='utf-8-sig',index=False)

    cityID  city   latitude   longitude
0        0   서울시  37.566380  126.977902
1        1   인천시  37.455791  126.705401
2        2   수원시  37.263201  127.028574
3        3   성남시  37.420011  127.126627
4        4   안양시  37.394051  126.958697
5        5   안산시  37.321478  126.828954
6        6   용인시  37.240941  127.177933
7        7   광명시  37.478493  126.864602
8        8   평택시  36.991734  127.095997
9        9   과천시  37.428589  126.988849
10      10   오산시  37.149846  127.077376
11      11   시흥시  37.380050  126.802881
12      12   군포시  37.360450  126.933051
13      13   의왕시  37.344718  126.968299
14      14   하남시  37.539252  127.214926
15      15   이천시  37.272186  127.435002
16      16   안성시  37.007948  127.279763
17      17   김포시  37.615152  126.715633
18      18   화성시  37.197956  126.828593
19      19   여주시  37.298290  127.637329
20      20   부천시  37.503283  126.765908
21      21   양평군  37.491682  127.487557
22      22   고양시  37.658377  126.833811
23      23  의정부시  37.738097  127.033679
24      24  동두천시  37.903511  127.060407
25      25   구리시  37.594252  127.129522
26      26  남양주시  37.635918  127.215442
27      27   파주시  37.758848  126.778317
28      28   양주시  37.784028  127.045545
29      29   포천시  37.894864  127.200344
30      30   연천군  38.096501  127.071583
31      31   가평군  37.831205  127.509538