In [3]:
import pandas as pd

In [32]:
sumokwon = pd.read_csv('sumokwon.csv',encoding='utf-8',names=['집계년도','시군명','명칭','전화번호','등록승인년도','수목원구분명','대표자명','수목원규모(ha)','보유종수','수목원소재지우편번호','수목원소재지지번주소','소재주소','위도','경도','카테고리'
                                                             ],engine='python')
sumokwon['카테고리']='수목원'
sumokwon=sumokwon.drop(0,axis=0)

natural = pd.read_csv('natural.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
natural['카테고리']= '자연'
natural=natural.drop(0,axis=0)

meongso = pd.read_csv('meongso.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
meongso['카테고리'] = '명소'
meongso = meongso.drop(0,axis=0)

munhwa = pd.read_csv('munhwa.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
munhwa['카테고리'] = '문화'
munhwa = munhwa.drop(0,axis=0)

experience = pd.read_csv('experience.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
experience['카테고리'] = '체험'
experience = experience.drop(0,axis=0)

thema = pd.read_csv('thema.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
thema['카테고리'] = '테마'
thema = thema.drop(0,axis=0)

sports = pd.read_csv('sports.csv',encoding='utf-8',names=['시군명','명칭','소재주소','전화번호','데이터기준일자','위도','경도','카테고리'],engine='python')
sports['카테고리'] = '스포츠'
sports = sports.drop(0,axis=0)

#forest = pd.read_csv('forest.csv',encoding='utf-8',names=['휴양림명','시군명','휴양림구분','휴양림면적','수용인원수','입장료','숙박가능여부','주요시설명','소재주소',	관리기관명	휴양림전화번호	홈페이지주소	위도	경도	데이터기준일자engine='python')
eat = pd.read_csv('eat.csv',encoding='utf-8',names= ['시군명','명칭','전화번호','대표음식명','소재지우편번호','소재주소','소재지지번주소','위도','경도'],engine='python')
eat['카테고리'] = '맛집'
eat = eat.drop(0,axis=0)
#special = pd.read_csv('specialization.csv',encoding='utf-8',engine='python')
#tour = pd.read_csv('tour.csv',encoding='utf-8',engine='python')

In [34]:
result = pd.concat([sumokwon,natural,meongso,munhwa,experience,thema,sports,eat], axis = 0, ignore_index=True,join='inner')
print(result)

      시군명         명칭           전화번호                      소재주소       위도  \
0     경기도    바다향기수목원  031-8008-6972     경기도 안산시 단원구 대부황금로 399  37.2236
1     가평군  아침고요원예수목원  031-1544-6703       경기도 가평군 상면 수목원로 432  37.7439
2     경기도     물향기수목원   031-378-1261           경기도 오산시 청학로 211  37.1661
3     과천시   서울대공원식물원    02-500-7338        경기도 과천시 대공원광장로 102   37.426
4     광주시     곤지암화담숲  031-8026-6666      경기도 광주시 도척면 도척윗로 278  37.3402
...   ...        ...            ...                       ...      ...
2084  하남시        한채당   031-792-8880           경기도 하남시 미사동로 38  37.5707
2085  하남시  지호 한방 삼계탕   031-795-9996          경기도 하남시 하남대로 995  37.5475
2086  하남시  하남미소 명품한우   031-699-0002            경기도 하남시 대청로 27  37.5409
2087  화성시   홍천덤바우록계탕   031-366-7880  경기도 화성시 남양읍 역골중앙로41번길 42  37.2063
2088  화성시        소담뜰  031-8059-7667        경기도 화성시 향남읍 배터길 14  37.1328

              경도 카테고리
0     126.642765  수목원
1     127.352457  수목원
2     127.059638  수목원
3     127.023549  수목원
4     127.291693  수목원
...          ...  ...
2084  127.201505   맛집
2085  127.188532   맛집
2086  127.215140   맛집
2087  126.827770   맛집
2088  126.906436   맛집

[2089 rows x 7 columns]

In [23]:
history['시군명']